@model DogGo.Models.Walker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            model.Id
        </dt>
        <dd class="col-sm-10">
            model.Id
        </dd>
        <dt class="col-sm-2">
            model.Name
        </dt>
        <dd class="col-sm-10">
            model.Name
        </dd>
        <dt class="col-sm-2">
            model.NeighborhoodId
        </dt>
        <dd class="col-sm-10">
            model.NeighborhoodId
        </dd>
        <dt class="col-sm-2">
            model.ImageUrl
        </dt>
        <dd class="col-sm-10">
            <img class="bg-info" src="@Model.ImageUrl" alt="avatar" />
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>